$border-width: 4px;

.SwitchButtons {
  margin: 50px 50px 0px 50px;
  flex-wrap: wrap;
  display: flex;
}

.SwitchButtons .ButtonItem {
  border: 1px solid gainsboro;
  transition: ease 0.3s;
  padding: 10px 24px;
  font-weight: 600;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  width: 50%;

  &:hover {
    background-color: #3b8ee6;
    color: white;
  }

  &:first-child {
    border-bottom-left-radius: $border-width;
    border-top-left-radius: $border-width;
    border-right: none;
  }

  &:last-child {
    border-bottom-right-radius: $border-width;
    border-top-right-radius: $border-width;
    border-left: none;
  }
}

.Button-Active {
  background-color: #3b8ee6;
  color: white;
}

.SwitchButtons .ButtonItem:not(:last-child) {
  border-right: none;
}

.SwitchButtons:after .ButtonItem:after {
  content: '';
  clear: none;
}
