.Tab {
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 50px;
  display: grid;
  height: 100%;
  width: 100%;
}

.Tab-Empty {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .Tab {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .Tab {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .Tab {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1700px) {
  .Tab {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2100px) {
  .Tab {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2560px) {
  .Tab {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
