.Details {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 15px;
  display: flex;
  width: 100%;

  span {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    color: #3b8ee6;
  }
}

.Details-Container {
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 70%;

  div {
    margin-bottom: 45px;
    color: #3b8ee6;
  }
}

.Details-Video {
  margin-bottom: 15px;
  border-radius: 4px;
  min-height: 100%;
  min-height: 100%;
  height: 250px;
  border: none;
  width: 100%;
}

.Details-Image {
  margin-bottom: 15px;
  border-radius: 4px;
  height: 100%;
  border: none;
  width: 100%;
}

.Details-Title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.Details-Overview {
  text-align: justify;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .Details-Video {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .Details-Video {
    height: 400px;
  }
}
